
{% load static %}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">
        <title>Blood Test Request: {{ patient.first_name }} {{ patient.last_name }}</title>

</head>
<body>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">


    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blood Test Request</legend>

                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">First Name: {{ patient.first_name }}</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Last Name: {{ patient.last_name }}</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Date Of Birth: {{ patient.date_of_birth}} (Age: {{age_value}})</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Gender: {{ patient.gender }}</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Origin Country: {{ patient.origin_country }}</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Time Of Request: {{ current_time }}</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Order From: Terem Clinic</label>
                <div id="div_id_chief_complaint" class="form-group"> <label for="id_chief_complaint" class="">Ordering Physician: {{ doctor.first_name }} {{doctor.last_name}}</label>
                <hr>
                <div id="div_id_prescriptions" class="form-group"> <label for="id_prescriptions" class="">Tests Ordered</label>
                    <div class=""> <textarea name="prescriptions" cols="40" rows="1" class="textarea form-control" id="id_prescriptions"></textarea> </div> </div>
                </table></fieldset>
            <div class="form-group">
               <input class="btn btn-outline-info" type="submit" value="Save">
            </div>
        </form>
    </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body></html>
