{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">

  <meta charset="UTF-8">
  <title>{{ user.first_name}} {{user.last_name}}</title>
</head>
<body>
  <h1 class="title", style="text-align:center"> Welcome {{ user.first_name }} {{ user.last_name }}</h1>
  <hr>
  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="http://localhost:8000/home/">Home Page</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;"  href="http://localhost:8000/clinic_calendar/" >Clinic's Calendar</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'logout' %}" >Logout</a>
  </div>
  <hr>
  <div class="table-title">
    <h2 style="color: #283955;">Today's Appointments</h2>
    <p style="color: #283955;">Click on patient to view their profile</p>
  </div>

  {% if today_appointments %}
          <table class="table-fill">
            <thead>
              <tr>
                <th>Patient</th>
                <th>Time</th>
                <th>Room</th>
              </tr>
            </thead>
            <tbody class="table-hover">
        {% for appointment in today_appointments %}
            <tr>
                <td><a href="{% url 'patient_interface' %}?patient_id={{appointment.patient.clinic_identifying_number}}">{{ appointment.patient }}</a></td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.room }}</td>
            </tr>
        {% endfor %}
            </tbody>
          </table>
    {% else %}
    <div class="table-title">
      <p style="color: #283955;">No Appointments for today!</p>
    </div>
    {% endif %}

  <div class="table-title">
    <p></p>
    <h2 style="color: #283955;">Browse Patients</h2>
    <p style="color: #283955;">Enter patient clinic ID or visa number:</p>
  </div>

  </body>
