{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">

<head>
  <!-- include our js scripts -->
  <script src="{% static 'reception_desk/scripts.js' %}"></script>
  <!-- Sweet alerts 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <title>{{ patient.first_name }} {{ patient.last_name }}</title>
</head>
<body>
  <a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><img src="{% static 'images/totop_blue.png' %}" ></a>

  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="http://localhost:8000/doctor_interface/">Go back to doctor interface</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'doctor_interface:blood-test' patient.clinic_identifying_number %}">+ Ask for blood test</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'doctor_interface:new-session' patient.clinic_identifying_number %}">+ Session</a>
  </div>

  {% if messages %}
          {% for message in messages %}
      <script>alert_msg({{ message | js_safe }});</script>
          {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    {% include 'doctor_interface\patient_details_block.html' %}
</body>
