{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">
    <meta charset="UTF-8">
    <title>{{ patient.first_name }} {{ patient.last_name }}</title>
</head>
<body>
  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="http://localhost:8000/doctor_interface/">Go back to docto interface</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;">+ Ask for blood test</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;">+ Session</a>
  </div>

  <div class="table-title">
  <h2>Patient Details</h2>
  <p> Name: {{ patient.first_name }} {{ patient.last_name }} </p>
  <p> ID: {{ patient.identifying_number}} </p>
  <p> Date Of Birth: {{ patient.date_of_birth}} </p>
  <p> Gender: {{ patient.gender }} </p>
  <p> Origin Country: {{ patient.origin_country }} </p>
  </div>
  <div class="table-title">
    <h2>Last Visits</h2>
    <p>click on appointment to see full details</p>
  </div>
  {% if last_visits %}
          <table class="table-fill">
            <thead>
              <tr>
                <th>Session Details</th>
                <th>Date</th>
                <th>Doctor</th>
              </tr>
            </thead>
            <tbody class="table-hover">
              {% for appointment in last_visits %}
              <tr>
                <td>To do (add icon)</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.doctor }}</td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
          {% else %}
          <div class="table-title">
            <p>No previous visits available</p>
          </div>
          {% endif %}
          <hr>
  </body>
