{% extends "reception_desk/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}

      <h3>Filter Appointments</h3>
      <form method="GET" action=".">
          {% csrf_token %}
        <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="specialty">Specialty</label>
                    <select class="form-control" id="specialty" name="specialty" />
                    {% if specialty and specialty != 'All' %}
                    <option selected placeholder="specialty">{{ specialty }}</option>
                    {% endif %}
                    {% for specialty in specialties %}
                        <option value="{{ specialty }}">{{ specialty }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="doctor">Doctor</label>
                    <select class="form-control " id ="doctor" name="doctor" placeholder="Doctor" />
                     {% if doctor and doctor != 'All' %}
                    <option selected placeholder="specialty">{{ doctor }}</option>
                    {% endif %}
                    {% for doctor in doctors %}
                        <option value="{{ doctor }}">{{ doctor }}</option>
                    {% endfor %}
                    </select>
                </div>
                {% if assigned %}
                <div class="form-group col-md-4">
                    <label for="patient" >Patient</label>
                    <input class="form-control" id="patient" name="patient" placeholder="Clinic or visa number"
                           {% if patient %} value={{ patient }} {% endif %}/>
                </div>
                {% endif %}
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-4">
            <label for="from_date">From</label>
            <input type="date" class="form-control" id="from_date" name="from_date"
            {% if from_date %} value="{{ from_date }}" {% endif %}>
          </div>
          <div class="form-group col-md-2 col-lg-4">
            <label for="until_date">Until</label>
            <input type="date" class="form-control" id="until_Date" name="until_date"
            {% if until_date %} value={{ until_date }} {% endif %}>
          </div>
        </div>
          <div class="form-group">
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" id="assigned" name="assigned" value="assigned"
                {% if assigned %} checked {% endif %}>
                    <label class="form-check-label" for="assigned">Assigned</label>
                </div>
            </div>
        <button type="submit" class="btn btn-outline-info">Search</button>
      </form>

      <hr />

      <div class="row">
          <ul class="list-unstyled">
              {% if empty %}
                <h3>No Appointments Were Found</h3>
              {% endif %}
              {% for appointment in page_obj.object_list %}
           <li>
              <span>Doctor: {{ appointment.doctor }} </span>
              <span>Date: {{appointment.date }}</span>
               {% if patient %}
               <span>Patient: {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</span>
               {% endif %}
              <span>Time: {{ count }}{{ appointment.time }}</span>
               {% if assigned is None %}
                   <a  class="btn btn-outline-info"
                       href="{% url 'reception_desk:appointment-assign' pk=appointment.id %}">Assign Patient</a>
               {% endif %}
                <hr />
           </li>
            {% endfor %}
        </ul>
           </div>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                  <a  class="btn btn-outline-info mb-4" href="?{% param_replace page=1 %}">First</a>
                  <a  class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a  class="btn btn-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a  class="btn btn-outline-info mb-4" href="?{% param_replace page=num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                  <a  class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                  <a  class="btn btn-outline-info mb-4" href="?{% param_replace page=page_obj.paginator.num_pages %}">Last</a>
            {% endif %}
        {% endif %}
{% endblock content %}