{% extends "reception_desk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make Appointment - Enter The Patient's Details </legend>

                {{ form|crispy }}
            </fieldset>
            <ul class="list-unstyled">
            <li>
              <span>Doctor: {{ object.doctor }} </span>
              <span>Date: {{object.date }}</span>
              <span>Time: {{ object.time }}</span>
                <hr />
           </li>
            </ul>
            <div class="form-group">
               <input class="btn btn-outline-info" type="submit" value="Make Appointment">
            </div>
        </form>
    </div>
{% endblock content %}
