{% load static %}

<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'create_new_patient/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% if title%}
        <title>{{ title }}</title>
    {% else %}
        <title>Clinic - No Title</title>
    {% endif %}
</head>
<body>
<header class="site-header">
     <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'reception_desk:calendar' %}">Back To Calendar</a>
             <a class="navbar-brand" href="{% url 'home' %}">Back To Home</a>
            </div>
        </div>
     </nav>
</header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages%}
                {% for message in messages%}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Other Options</h3>
              <div class="list-group">
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:create-patient' %}">Create New Patient</a>
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:edit-existing-patient' %}">Edit Existing Patient</a>
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:appointments' %}">Add New Appointment</a>
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:doctor-time-slot' %}">Add Available Doctor Slot</a>
              </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
