{% load static %}
{% load custom_tags %}

<html>
<head>
     <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Sweet alerts 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'reception_desk/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Clinic - No Title</title>
    {% endif %}
</head>
<body>
<h1 class="title", style="text-align:center"> {{ title }}</h1>
<hr>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
            <script>function alert_msg(msg){
                    swal({
                      title: "Success!",
                      text: `${msg}`,
                      type: "success",
                      confirmButtonColor: '#28a745'
                    })}
                    </script>
                {% for message in messages %}
            <script>alert_msg({{ message | js_safe }});</script>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}

        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Other Options</h3>
              <div class="list-group-custom">
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:calendar' %}">Clinic's Calendar</a>
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:clinic-management' %}">Clinic Management</a>
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:appointments' %}">Appointments</a>
                {% if not title != 'Create New Patient' %}
                <a class="list-group-item list-group-item-action" href="{% url 'reception_desk:edit-existing-patient' %}">Edit Patient</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
