
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'reception_desk/styles.css'%}">
  <title>Clinic Calendar</title>
</head>
<body>
<h1 class="title", style="text-align:center; color:#366d6b"> Clinic's Calendar</h1>

    <div class ="container">
            {% if messages%}
                {% for message in messages%}
                    <div class="alert alert-{{ message.tags }}" style="text-align:center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
    </div>

  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:25%; border: 1px solid  #254b4a;" href="{% url 'reception_desk:create-patient' %}">Create / Edit Patient</a>
    <a class="btn btn-info left clearfix" style="width:25%; border: 1px solid  #254b4a;"href="{% url 'reception_desk:appointments' %}">Add / Edit Appointment</a>
    <a class="btn btn-info left clearfix" style="width:25%; border: 1px solid  #254b4a;">View Patient</a>
    <a class="btn btn-info left clearfix" style="width:25%; border: 1px solid  #254b4a;" href="{% url 'reception_desk:clinic-management' %}">Clinic Management</a>
  </div>
  <hr>
  <div class="clearfix">
    <a class="btn btn-info left" style="border: 1px solid  #254b4a;" href="{% url 'reception_desk:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info" style="border: 1px solid  #254b4a;" href="{% url 'reception_desk:date-view' today_date %}">Today's Appointments</a>
    <a class="btn btn-info right" style="border: 1px solid  #254b4a;" href="{% url 'reception_desk:calendar' %}?{{ next_month }}"> Next Month </a>
  </div>
  {{ calendar }}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
