{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
<!doctype html>
<html lang="en">

<head>
  <!-- Sweet alerts 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'reception_desk/main.css' %}">

  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <title>Date View</title>

</head>
<body>
  <a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><img src="{% static 'images/totop_blue.png' %}" ></a>

  <h1 class="title", style="text-align:center"> Date View: {{ wanted_date }}</h1>
  <hr>
  <div class="btn-group" style="width: 99%">
    <a class="btn btn-info" style="background-color:transparent;color: #283955; width:20%; border: 1px solid  #718fbd; margin: 0 auto;"  href="{% url 'reception_desk:calendar' %}" >Back To Clinic's Calendar</a>
  </div>
  <hr>

  {% if appointment_list %}
  <div class="table-title">
  <h3>Doctor's Details</h3>
  <p>Click on doctor's name to jump to the wanted appointments list</p>
  <table style="border:0px; width: 100%;">
    <tr>
      <td style="width: 33.3%; background: transparent;"><h6>Name</h6></td>
      <td style="width: 33.3%; background: transparent;"><h6>Specialty</h6></td>
      <td  style="width: 33.3%; background: transparent;"><h6> Shift Hours</h6></td>
    </tr>
    {% for doctor, shift in dshifts.items %}
    <tr>
      <td style="width: 33.3%; background: transparent;"><a href="#{{doctor.id}}" style = "color: black;">Dr. {{doctor}}</a></td>
      <td style="width: 33.3%; background: transparent;">{{doctor.specialty}}</td>
      <td style="width: 33.3%; background: transparent;">{{shift}}</td>
    </tr>
    {% endfor %}
  </table>
  </div>
  <hr>
  {% endif %}


  {% if appointment_list %}
  {% for doc, app_list  in ddocs.items %}
  <div class="table-title">
    <h3 style="color: #283955;"><a id="{{doc.id}}">{{doc}}<a></h3>
  </div>
  <table class="table-fill" style="width:100%">
    <thead>
      <tr>
        <th style="width:22%">Patient</th>
        <th style="width:18%">Visa Number</th>
        <th style="width:15%">Time</th>
        <th style="width:15%">Room</th>
        <th style="width:8%">Arrived?</th>
        <th style="width:15%">Status</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {% for appointment in app_list %}
      <tr>
        <td><a href="{% url 'reception_desk:patient-details' appointment.patient.clinic_identifying_number%}" target="_blank" style="color:black;">{{ appointment.patient}}</a></td>
        <td>{{ appointment.patient.visa_number}}</td>
        <td>{{ appointment.start_time }}</td>
        <td>{{ appointment.room }}</td>
        {% if not appointment.arrived %}
         <td class="text-center"><button
                onclick="set_arrived_click({{ appointment.id }},{{ appointment.patient | js_not_safe }},{{ appointment.date | get_date }}) "
                class="btn btn-outline-info">
                Check In</button></td>
        {% else %}
        <td class="text-center" style="color:#28a745"> &#10004 </td>
        {% endif %}
        {% if appointment.done %}
        <td>Done</td>
        {% elif appointment.arrived %}
        <td>Waiting in line</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p></p>
  {% endfor %}
  {% else %}
  <h4 style="color: #283955; text-align:center"> No appointments were scheduled for the wanted date. </h4>
  {% endif %}
  <hr>

  <!-- Fades in the button when you scroll down -->
  <script>
    var link = document.getElementById("back-to-top");
    var amountScrolled = 250;

    window.addEventListener('scroll', function(e) {
        if ( window.pageYOffset > amountScrolled ) {
            link.classList.add('show');
        } else {
            link.className = 'back-to-top';
        }
    });

  <!-- Scroll to Top -->
    link.addEventListener('click', function(e) {
        e.preventDefault();

        var distance = 0 - window.pageYOffset;
        var increments = distance/(500/16);
        function animateScroll() {
            window.scrollBy(0, increments);
            if (window.pageYOffset <= document.body.offsetTop) {
                clearInterval(runAnimation);
            }
        };
        // Loop the animation function
        var runAnimation = setInterval(animateScroll, 16);
    });
  </script>
  <script>
        function set_arrived_click(appointment_id,patient, date){
        swal({
          title: `Are you sure?`,
          text: `Check in ${patient}?
           Action can not be reverted!`,
          type: "info",
          showCancelButton: true,
          confirmButtonColor: '#28a745',
          cancelButtonColor: '#dc3545',
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
          reverseButtons: true
        })
        .then((result) => {
            if (result.value) {
            swal({
              title:"Checked in successfully!",
              type: "success",
              confirmButtonColor: '#28a745'
            }).then(
            function(){ post("{% url 'reception_desk:date-view' my_date='123' %}".replace('123', `${date}`),
            {'arrived':appointment_id});});
          }
          else{}
        })
       };
  </script>
  <script >
        function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                              var cookie = (cookies[i]);
                              // Does this cookie string begin with the name we want?
                              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                      break;
                              }
                      }
              }

              return cookieValue;
              }
          </script>
  <script>
        function post(path, params) {
        const form = document.createElement('form');
        form.method = 'post';
        form.action = path;

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", 'csrfmiddlewaretoken');
        hiddenField1.setAttribute("value", getCookie('csrftoken'));
        form.appendChild(hiddenField1);

        for (const key in params) {
          if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];

            form.appendChild(hiddenField);
          }
        }
        document.body.appendChild(form);
        localStorage.setItem("scroll", window.pageYOffset);
        form.submit();
      }
      </script>
  <script>if(localStorage.getItem('scroll'))
        {
            window.scrollTo(0, parseInt(localStorage.getItem("scroll")));
            localStorage.removeItem("scroll");

        }</script>
</body>
