{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">

  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <title>Date View</title>
</head>
<body>
  <p></p>
  <h2 class="title", style="text-align:center">ERROR:</h2>
  <h2 class="title", style="text-align:center">Looks like you tried entering a date that does not exist!</h2>
  <div class="btn-group" style="width: 99%">
    <a class="btn btn-info" style="width:20%; border: 1px solid  #718fbd; margin: 0 auto;"  href="{% url 'reception_desk:calendar' %}" >Back To Clinic's Calendar</a>
  </div>
  </body>
