{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">

  <meta charset="UTF-8">
  <title>Date View</title>
</head>
<body>
  <h1 class="title", style="text-align:center"> Date View: {{ wanted_date }}</h1>
  <hr>
  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'home' %}">Home Page</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;"  href="{% url 'reception_desk:calendar' %}" >Clinic's Calendar</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'logout' %}" >Logout</a>
  </div>
  <hr>
  {% for room, app_list  in drooms.items %}
  <div class="table-title">
    <h3 style="color: #283955;">{{room}}</h3>
  </div>
  <table class="table-fill">
    <thead>
      <tr>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      {% for appointment in app_list %}
      <tr>
        <td>{{ appointment.doctor}}</td>
        <td>{{ appointment.patient}}</td>
        <td>{{ appointment.time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
  <hr>
</body>
