{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">

  <meta charset="UTF-8">
  <title>Date View</title>
</head>
<body>
  <h1 class="title", style="text-align:center">ERROR: looks like you tried untering a date that does not exist!</h1>
  <hr>
  <hr>
  </body>
