{% extends "reception_desk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Patient</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
               <input class="btn btn-outline-success" type="submit" value="Update">
            </div>
        </form>
    </div>
{% endblock content %}
