{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'doctor_interface/style_interface.css'%}">

  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <title>{{ patient.first_name}} {{patient.last_name}}</title>
</head>
<body>
  <a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><img src="{% static 'images/totop_blue.png' %}" ></a>

  <div class="btn-group clearfix" style="width: 99%">
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'reception_desk:view-patient' %}">Search Another Patient</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;"  href="{% url 'reception_desk:calendar' %}" >Back To Clinic's Calendar</a>
    <a class="btn btn-info left clearfix" style="width:33.3%; border: 1px solid  #718fbd;" href="{% url 'logout' %}" >Logout</a>
  </div>
  <hr>
  <h1 class="title", style="text-align:center">View Patient: {{ patient.first_name}} {{patient.last_name}}</h1>
  <hr>
  {% include 'doctor_interface\patient_details_block.html' %}
</body>
