{% extends "reception_desk/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Walk-In - Enter The Patient's Details </legend>
                {{ form|crispy }}
            </fieldset>
             <hr />
            <table>
                    <thead>
                      <tr>
                        <th style="width:20%">Doctor</th>
                        <th style="width:20%">Room</th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr>
                        <td>{{ doctor }}</td>
                        <td>{{ room }}</td>
                    </tr>
                  </tbody>
              </table>
             <hr />
            <div class="form-group">
               <input class="btn btn-outline-info custom" type="submit" value="Add Walk-In">
            </div>
        </form>
    </div>
{% endblock content %}