<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Log In{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style_login.css'%}">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <main>
    {% block content %}
    <div class="wrapper fadeInDown">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <!-- Icon -->
    <div class="fadeIn first">
      <img src = "{% static 'images/logo.png' %} " >
    </div>


    <div id="formContent">
      <div class="fadeIn first">
      <h3 type="text" class="fadeIn second"> Hey there! Please log in</h3>
      <h3></h3>
      </div>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p type="text" class="fadeIn second" placeholder="login" >{{ form.username.label_tag }}</p>
        <p type="text" class="fadeIn second" placeholder="login">{{ form.username }}</p>
        <p type="text" class="fadeIn third" placeholder="password">{{ form.password.label_tag }}</p>
        <p type="text" class="fadeIn third" placeholder="password">{{ form.password }}</p>
        <input type="submit" class="fadeIn fourth" value="Log In">
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      {% endblock %}
    </div>
  </div>
</main>
</body>
</html>
