{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Reset Password{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style_homepage.css'%}">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <main>
    {% block content %}
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <p class="fadeIn third">We've emailed you instructions for resetting your password (if an account exists with the email you entered).</p>
        <p class="fadeIn third"> You should receive them shortly.</p>
        <p class="fadeIn third">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
      </div>
  </div>
  {% endblock %}
  </main>
</body>
</html>
