{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Reset Password - Complete{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style_homepage.css'%}">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <main>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        {% block content %}
        <h3>Success!</h3>
        <p>Your new password has been set.</p>
        <p> You may go ahead and <a href="{% url 'login' %}">Log In</a> now.</p>
        {% endblock %}
      </div>
    </div>
  </main>
</body>
</html>
