<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Change Password{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style_login.css'%}">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <main>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first">
          <h3 type="text" class="fadeIn second">Change Your Password</h3>
          <h3></h3>
        </div>
        <form method="post">{% csrf_token %}
          <div>
            {% if form.errors %}
            <h5 class="fadeIn second" style="color: #991244">
              {% if form.errors.items|length == 1 %}Please correct the errors below.{% else %}Please correct the errors below.{% endif %}
            </h5 >
            {% endif %}
            <p class="fadeIn second">Please enter your old password, for security’s sake, and then enter your new password.</p>
            <div>
              <h5 type="text" class="fadeIn third" placeholder="password" style="color: #991244">{{ form.old_password.errors }}</h5>
              <p type="text" class="fadeIn third" placeholder="password">{{ form.old_password.label_tag }} {{ form.old_password }}</p>
            </div>
            <div>
              <h5 type="text" class="fadeIn third" placeholder="password" style="color: #991244">{{ form.new_password1.errors }}</h5>
              <p type="text" class="fadeIn third" placeholder="password">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
              <p type="text" class="fadeIn third" placeholder="password">{% if form.new_password1.help_text %}</p>
              <div><h5 type="text" class="fadeIn third" placeholder="password">{{ form.new_password1.help_text|safe }}</h5></div>
              {% endif %}
            </div>
            <div>
              <h5 type="text" class="fadeIn third" placeholder="password" style="color: #991244">{{ form.new_password2.errors }}</h5>
              <p type="text" class="fadeIn third" placeholder="password">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>
              {% if form.new_password2.help_text %}
              <div><p type="text" class="fadeIn third" placeholder="password">{{ form.new_password2.help_text|safe }}</p></div>
              {% endif %}
            </div>
            <div class="fadeIn third">
              <input type="submit" value="Change my password" class="default">
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
