{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Home Page{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style_homepage.css'%}">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
  <main>
    {% block content %}
    <div class="wrapper fadeInDown">
    {% if user.is_authenticated %}
    <div id="formContent">
      <p></p>
      Hello {{ user.first_name }}  {{ user.last_name }}
      <hr>
      {% if user.is_superuser %}
      <p><a href="{% url 'admin:index' %}">Go to Admin Page</a></p>
      {% endif %}
      {% if user.doctor %}
      <p><a href="{% url 'doctor_interface:homepage' %}">Go to Doctor's Interface</a></p>
      {% endif %}
      <p><a href="{% url 'reception_desk:calendar' %}">Go to Clinic's Calendar</a></p>
      <hr>
      <p><a href="{% url 'password_change' %}">Change Password</a></p>
      <p><a href="{% url 'logout' %}">Logout</a></p>
      </div>
    {% else %}
    <div id="formContent">
      <p></p>
      <p>You have logged out successfuly!</p>
      <p>Goodbye</p>
      <p></p>
      <a href="{% url 'login' %}">Login Again?</a>
      <p></p>
    {% endif %}
  </div>
  </div>
    {% endblock %}
  </main>
</body>
</html>
