{% extends "create_new_patient/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please Enter The Patient's Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
               <input class="btn btn-outline-info" type="submit" value="Sign Up">
            </div>
        </form>
    </div>
{% endblock content %}